@-webkit-keyframes progressing {
  0% { width: 0%; background-color: red;}
  100% { width: 100%; background-color: red;}
}

@keyframes progressing {
  0% { width: 0%; }
  100% { width: 100%; }
}

.progress-bar {
  height: 2px;
  width: 0px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}